.main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 80vw;
	min-height: 80vh;
	padding-top: 10vmin;
}

.main__copy-text {
	margin-bottom: 5vh;
}

.main__title {
	font-size: 3.5rem;
	padding-bottom: 1rem;
}

.main p {
	font-size: 1.2rem;
}

.main__mini-form {
	display: flex;
	height: fit-content;
}

.main__input {
	flex-grow: 2;
	height: 6vh;
	padding-left: 3vmin;
	font-size: 2vh;
	border: 1px solid #7F7F7F;
	outline: none;
	overflow: scroll;
}

.main__input:focus, .main__input:hover {
	border-color: #000000;
}

.main__button {
	flex-grow: 1;
	height: 6vh;
	font-size: 2vh;
	font-weight: bold;
	background-color: #1DB954;
	color: #ffffff;
	border: 1px solid #1DB954;
	outline: none;
	cursor: pointer;
}

.main__button:focus, .main__button:hover {
	background-color: #1BD760;
	border-color: #1BD760;
}

.main__button:disabled {
	background-color: darkgray;
	border-color: darkgray;
}

@media screen and (min-width: 1050px) {
	.main {
		max-width: 60vw;
	}
}

@media screen and (max-width: 467px) {
	.main {
		max-width: 85vw;
		padding-top: 6vmin;
	}

	.main__title {
		font-size: 2.5rem;
	}

	.main__mini-form {
		flex-wrap: wrap;
	}

	.main__input {
		height: 7vh;
		padding-left: 5vmin;
	}

	.main__button {
		height: 7vh;
		width: 100%;
		margin-top: 3vw;
	}
}