.header {
	display: flex;
	height: 10vh;
	width: 100vw;
	background-color: #16181d;
	padding: 0 10vw;
	align-items: center;
	justify-content: center;
	/* border-bottom: 3px solid #74A1DF; */
}
  
.header__logo {
	font-weight: bold;
	color: #ffffff;
	margin: 0;
	font-size: 3vh;
}

.header__logo-span {
	color: darkgray;
}

.header__socials {
	color: white;
	min-width: 5vw;
	font-size: 2vh;
}

.fa-github {
	margin-left: 2vw
}

.header__menu {
	display: none;
	color: white;
	font-size: 2vh;
}

@media (max-width: 700px) {
	.header__socials {
		display: none;
	}

	.header__menu {
		display: inline;
	}
}