.app {
  background-color: #ffffff;
  height: fit-content;
}

.app__auth-error {
  display: flex;
  background-color: #ff0000;
  color: #ffffff;
  height: 5vh;
  justify-content: center;
  align-items: center;
  font-family: 'Poiret One', cursive;
}